<!DOCTYPE html>
<html lang="en">
    <!-- Custom styles for this template -->


  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Roman numeral recognition</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 54px;
        padding-bottom: 62px;
      }

      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }
      html, body {
        height: 100%;
      }
      .container{
        min-height: 100%;
      }
      .container:after {
        content: "";
        display: block;
      }
      .py-xl-0{
        height: 40px;
      }
    </style>

  </head>


  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Recognizer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index_page') }}">Home
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">About
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">About:
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-2">
          <p>Source code: <a href="https://github.com/titardrew/roman-recognizer">GitHub/titardrew</a></p>

        </div>

      </div>
      <!-- /.row -->
      <div class="row">
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-xl-0 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; <a href="https://github.com/titardrew/roman-recognizer" style="color: powderblue">GitHub</a></p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="static/vendor/bootstrap/js/draw.js"></script>
  </body>
</html>
